doctype 5
html
  head
    title Generated with Bumm

    meta(charset='UTF-8')

    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap-select.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='/vendor/bootstrap/css/select2.css')
    link(rel='stylesheet', href='/css/custom.css')

    block scripts
      script(src='/vendor/jquery/js/jquery.min.js')
      script(src='/vendor/bootstrap/js/bootstrap.min.js')
      script(src='/vendor/bootstrap/js/bootstrap-select.min.js')
      script(src='/vendor/bootstrap/js/select2.js')
      script(src='/vendor/bootstrap/js/bootstrap-tagsinput.min.js')
      script(src='/vendor/underscore/underscore-min.js')
      script(src='/client.js')

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/") CARACTERIZACIÓN DE ORGANIZACIONES DE VÍCTIMAS
          ul.nav
            li
              a(href="#") Dirección de DDHH, DIH y víctimas del conflicto

    .container
      block content
