extends ../../layout
include ../../mixins/form-helpers

block content

  form#cargo-form.form-horizontal(action="/cuestionario/cargos/create", method="POST")
    fieldset
      legend Create a new Cargo

      .control-group
        mixin label("cargo", preguntas.cargo)
        .controls
          mixin text("cargo", cargo.cargo)
          mixin errorMessage(cargo, 'cargo')
      .control-group
        mixin label("directivos", preguntas.directivos)
        .controls
          mixin select("directivos", cargo.directivos, opcionesRespuesta.directivos)
          mixin errorMessage(cargo, 'directivos')
      .control-group
        mixin label("genero", preguntas.genero)
        .controls
          mixin select("genero", cargo.genero, opcionesRespuesta.genero)
          mixin errorMessage(cargo, 'genero')
      .control-group
        mixin label("orient_sexual", preguntas.orient_sexual)
        .controls
          mixin select("orient_sexual", cargo.orient_sexual, opcionesRespuesta.orient_sexual)
          mixin errorMessage(cargo, 'orient_sexual')
      .control-group
        mixin label("edad", preguntas.edad)
        .controls
          mixin text("edad", cargo.edad)
          mixin errorMessage(cargo, 'edad')
      .control-group
        mixin label("etnia", preguntas.etnia)
        .controls
          mixin text("etnia", cargo.etnia)
          mixin errorMessage(cargo, 'etnia')
      .control-group
        mixin label("remuneracion", preguntas.remuneracion)
        .controls
          mixin select("remuneracion", cargo.remuneracion, opcionesRespuesta.remuneracion)
          mixin errorMessage(cargo, 'remuneracion')
      .control-group(style="display:none")
        mixin label("cuestionario_id", "Cuestionario_id")
        .controls
          mixin text("cuestionario_id", cargo.cuestionario_id)
          mixin errorMessage(cargo, 'cuestionario_id')

    .form-actions
      // a.btn.btn-warning(href="/cuestionario/cargos") Back
      // |
      input.btn.btn-primary(type="submit", value="Create")
